<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" host="localhost" id="080c198a-5f82-4efe-b84a-b637aef2fcc3" name="http://api.openweathermap.org Virtual Service" path="/" port="8090" routeEndpoint="http://api.openweathermap.org" routeModeEnabled="true">
  <con:settings id="dd42ac8f-d7b6-4fab-8327-69f5b2ddff13">
    <con:setting id="080c198a-5f82-4efe-b84a-b637aef2fcc3fileName">http%3A%2F%2Fapi.openweathermap.org-Virtual-Service</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
</con:restMockService>
